 @charset "UTF-8";

:root {
    --roxo: #B983FF;
    --rosa: #FFB3C6;
    --azul: #A3D8F4;
    --fundo: #F9F5FF;
    --texto: #584F77;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box; /* que a borda faça parte da conta de largura */
}

body, html {
    background-color: #9A89EB;
    height: 100vh;
    width: 100vw;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#caixa {
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.368);
    overflow: hidden;
    /* animação */
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#imagem {
    height: 200px;
    background: url(../imagens/login.jpg) no-repeat center center /cover;
    display: block;
}

#login {
    padding: 10px;
    display: block;
}

#login h1 {
    text-align: center;
    margin-bottom: 10px;
}

#login p {
    text-align: justify;
    font-size: 0.8em;
}

.dados {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #543F91;
    color: white;
    margin: 5px 0;
    border-radius: 8px;
    border: 2px solid #543F91;
}

.dados > label {
    display: none;
}

.material-symbols-outlined {
    color: white;
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.dados > input {
    background-color: #f0bfd9;
    font-size: 1em;
    width: calc(100% - 46px);
    height: 100%;
    border: 0;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px); /* sempre coloque na ultima linha */
}

.dados > input:focus-within { /* qnd estiver digitando */
    background-color: white;
}

#entrar {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #CC7BA6;
    border: none;
    border-radius: 5px;
    color: white;
}

#entrar:hover {
    background-color: #e064a6;
    cursor: pointer;
}

#botao {
    display: block;
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    border: 1px solid #CC7BA6;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    color: #e73c97;
}

#botao:hover {
    background-color: #f3c4dd;
}

#botao > span {
    font-size: 0.8em;
}