 @charset "UTF-8";

:root {
    --roxo: #B983FF;
    --rosa: #FFB3C6;
    --azul: #A3D8F4;
    --fundo: #F9F5FF;
    --texto: #584F77;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box; /* que a borda faça parte da conta de largura */
}

body, html {
    background-color: #9A89EB;
    height: 100vh;
    width: 100vw;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

#caixa {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.368);
    overflow: hidden;
    /* animação */
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

#imagem {
    height: 200px;
    background: url(../imagens/login.jpg) no-repeat center center /cover;
    display: block;
}

#login {
    padding: 10px;
    display: block;
}

#login h1 {
    text-align: center;
    padding: 10px;
}

#login p {
    text-align: justify;
}

.dados {
    display: flex;
    background-color: #543F91;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.dados > span {
    font-size: 2em;
}

.dados > input {
    width: 100%;
    border-radius: 5px;
    background-color: var(--azul);
}

.botoes {
    text-align: center;
    width: 100%;
    background-color: white;
    border: 1px solid black;

}

#entrar button {
    width: 100%;
    height: 30px;
    background-color: var(--azul);
    border: none;
    color: white;
}