@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;  
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat fixed top center /cover;
}

main {
    position: relative;
    height: 100vh;
}

#iphone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background: url('../imagens/frame-iphone.png') no-repeat center center /contain;
    border: 2px solid white;
}

iframe {
    position: absolute;
    top: 64px;
    left: 44px;
    width: 212px;
    height: 376px;
    
}

a > img {
    background: no-repeat bottom center /cover;
    
}

#logos {
    position: fixed;
    top: 100px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* define o espaço entre os itens dentro de um contêiner */
}

#logos img {
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.44);
    box-sizing: border-box; /* pra borda fazer parte da caixa */
}

#logos img:hover { /* quando passar o mouse em cima, as bolinhas mexem */
    border: 2px solid rgba(255, 255, 255, 0.600);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.521); /* aumentar a sombra */
    transition: transform 0.5s, border 1s; /* mexerem suavemente */
}

#logos img:active { /*para dar um efeito de clique (os botões "afundam") quando clicados */
    transform: scale(95%);
}
